@media only screen and (max-width: 999px) {
  #top form.is-search-form {
      display: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
}

#button-container, main{
  grid-row-start: 1;
  grid-column-start: 1;
}
#button-container{
  background-color: rgba(171, 174, 255, 0.5);
  /* z-index: 0; */
}
canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 100% !important;
  display: block !important;
}
button {
  
  background-color: rgb(43, 226, 131);
}
